
body {
  background: url("../../images/bg1.jpg") center top no-repeat #0c0c0d;
  border: 0;
  font: 15px 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #d1d0ed;
  line-height: 23px;
  min-width: 20px;
}
.nav-collapse_.collapse {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  background: none;
  font-family: 'PT Sans Narrow';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #7b7b91;
  text-shadow: none;
  padding: 0px 0px;
  border: none;
  margin: 0;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
}
.navbar_ {
  .nav {
    >li {
      >a {
        display: block;
        text-decoration: none;
        background: none;
        font-family: 'PT Sans Narrow';
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #7b7b91;
        text-shadow: none;
        padding: 0px 0px;
        border: none;
        margin: 0;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-bottom: 2px solid transparent;
        text-transform: uppercase;
        transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        -webkit-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        &:hover {
          color: #fff;
          text-decoration: none;
          background: none;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          border-color: #fff;
        }
        &:focus {
          color: #fff;
          text-decoration: none;
          background: none;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          border-color: #fff;
        }
      }
      position: relative;
      display: block;
      float: left;
      margin-left: 30px;
      white-space: nowrap;
    }
    >li.active {
      >a {
        color: #fff;
        text-decoration: none;
        background: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-color: #fff;
        &:hover {
          color: #fff;
          text-decoration: none;
          background: none;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          border-color: #fff;
        }
        &:focus {
          color: #fff;
          text-decoration: none;
          background: none;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          border-color: #fff;
        }
      }
    }
    >li.sfHover {
      >a {
        color: #fff;
        text-decoration: none;
        background: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-color: #fff;
        &:hover {
          color: #fff;
          text-decoration: none;
          background: none;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          border-color: #fff;
        }
      }
    }
  }
  margin: 0;
  padding: 0;
  background: none;
  position: relative;
  z-index: 30;
}
#navbarSupportedContent {
  >ul {
    >li {
      >a {
        display: block;
        text-decoration: none;
        background: none;
        font-family: 'PT Sans Narrow';
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #7b7b91;
        text-shadow: none;
        padding: 0px 0px;
        border: none;
        margin: 0;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-bottom: 2px solid transparent;
        text-transform: uppercase;
        transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        -webkit-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        &:hover {
          color: #fff;
          text-decoration: none;
          background: none;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          border-color: #fff;
        }
      }
      position: relative;
      display: block;
      float: left;
      margin-left: 30px;
      white-space: nowrap;
    }
  }
}
.navbar-toggler {
  background: #323145;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 15px;
  margin-top: -50px;
}
.social {
  li {
    display: inline-block;
    margin: 0 7px;
    float: left;
    a {
      opacity: 1;
      filter: alpha(opacity=40);
      transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      &:hover {
        opacity: 1;
        filter: alpha(opacity=100);
      }
    }
  }
}
.menu_wrapper2 {
  text-align: right;
  margin-top: 46px;
  padding-bottom: 0;
  line-height: 1px;
  margin-bottom: 10px;
}
.menu_wrapper {
  display: inline-block;
}
header {
  float: left;
  padding-top: 10px;
  padding-bottom: 15px;
}
.top2 {
  float: right;
  padding-top: 20px;
}
figure.img-polaroid {
  img {
    width: 550px;
    margin-top: 3px;
  }
}
#content {
  margin-top: 0;
  margin-bottom: 50px;
  text-shadow: 1px 1px 1px black;
  >.container {
    >.row {
      background: url(../images/px1.png);
      padding: 25px 15px;
      border-top: 1px solid #292834;
      border-bottom: 1px solid #292834;
    }
  }
}
img.img-responsive {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
  &:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}
.image-gallery-wrapper {
  margin-top: 60px;
  >.row {
    margin-left: -12px;
  }
}
footer {
  text-transform: uppercase;
}
.bot1_wrapper {
  background: #20202d;
  padding-top: 35px;
  height: 180px;
}
.bot2_wrapper {
  background: #1c1c28;
  padding: 35px 0;
}
.menu_bot {
  display: block;
  float: left;
  position: relative;
  z-index: 10;
  text-align: center;
  white-space: nowrap;
  padding-top: 0;
}
#menu_bot {
  >li {
    >a {
      display: block;
      line-height: 30px;
      text-decoration: none;
      position: relative;
      font-family: 'PT Sans Narrow';
      font-weight: 400;
      font-size: 16px;
      color: #7b7b91;
      text-transform: uppercase;
      margin: 0 15px;
      &:hover {
        color: #fff;
        text-decoration: none;
        background: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-color: #fff;
      }
    }
    list-style: none;
    display: inline-block;
    position: relative;
    float: left;
    white-space: nowrap;
    padding-left: 1px;
    background: url(../images/menu_bot.png) left center no-repeat;
    &:first-child {
      padding-left: 0;
      background: none;
    }
  }
}
.copyright {
  color: #515163;
  a {
    color: #878799;
  }
}
.phone1 {
  background: url(../images/phone1.png) left center no-repeat;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #d1d0ed;
  letter-spacing: -1px;
  padding-left: 50px;
  display: inline-block;
}
.phone2 {
  background: url(../images/phone1.png) left center no-repeat;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #d1d0ed;
  letter-spacing: -1px;
  padding-left: 50px;
  display: inline-block;
  background-image: none;
}
.email {
  background: url(../images/phone1.png) left center no-repeat;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #d1d0ed;
  letter-spacing: -1px;
  padding-left: 50px;
  display: inline-block;
  background-image: none;
  a {
    color: #00aff0;
    display: block;
    text-decoration: none;
    background: none;
    font-family: 'PT Sans Narrow';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-shadow: none;
    padding: 0px 0px;
    border: none;
    margin: 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    text-transform: uppercase;
    transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    letter-spacing: 0.5px;
    &:hover {
      color: #fff;
      text-decoration: none;
      background: none;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      border-color: #fff;
    }
  }
}
.skype1 {
  position: relative;
  top: -30px;
}
.gap-right {
  margin-right: 15px;
}
.bottom_wrapper {
  margin-left: 8px;
}
.date1 {
  background: url(../images/date1.png) 8px center no-repeat;
  padding-left: 30px;
  padding-right: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #706f89;
  text-transform: uppercase;
  line-height: 28px;
  border: 1px solid #323145;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  display: inline-block;
  margin-bottom: 10px;
}

/* For smaller devices */
@media (min-width: 992px) {
  .top3_wrapper {
    position: relative;
    top: 58px;
    margin-left: 357px;
  }
}
@media (max-width: 992px) {
  #navbarSupportedContent {
    >ul {
      >li {
        >a {
          display: block;
          background: url(../images/px1.png);
          padding-right: 20px;
        }
        float: none;
        width: 250px;
        border-bottom: 1px solid #361907;
      }
    }
    position: relative;
    right: -16px;
  }
  ul.social {
    display: flex;
  }
  .social {
    li {
      &:nth-child(1) {
        margin-left: auto;
      }
    }
  }
  .bottom_wrapper {
    .social {
      li {
        &:nth-child(1) {
          margin-left: 0;
        }
      }
    }
  }
  .phone1 {
    font-size: 22px !important;
    letter-spacing: -1px;
    padding-left: 50px;
  }
  .phone2 {
    font-size: 22px !important;
    letter-spacing: -1px;
    padding-left: 50px;
  }
  .email {
    font-size: 22px !important;
    letter-spacing: -1px;
    padding-left: 50px;
  }
  .skype1 {
    margin-bottom: -60px;
  }
  .menu_wrapper2 {
    width: 393px;
  }
}
